@import "styles/app.scss";


@include shop-breakpoint("xs") {

  .category {
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 10000;
  }

  .categoryBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px $color-black solid; 
    border-radius: 12px;
    transition: .5s;
    z-index: 30; 
    width: 137px;
    height: 24px;  
    padding: 4px 0 0 3px;
    user-select: none;

    .smallText {
      pointer-events: none;
      user-select: none;
    }
    
    .icon {
      position: absolute;
      right: 9px;
      top: 2px;
    }
  } 

  .cateBox { 
    background-color: rgba($color: #fff, $alpha: .8);
    backdrop-filter: blur(50px); 
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: .3s;
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;

    .button {
      width: 100%;
      margin: 5px 0;
      height: 24px;
      padding: 2px 0 0 3px;
      border-color: transparent;
      color: $color-black;
      margin: 18px 0;
      height: 40px;

      p {
        font-size: 2.5rem;
        font-family: $font-secondary !important;
        font-weight: 700;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  .cateBoxOpen {
    opacity: 1;
    background-color: rgba($color: #fff, $alpha: .8);
    backdrop-filter: blur(50px); 
    visibility: visible;

    .closeIcon {  
      position: absolute; 
      cursor: pointer;
      right: 20px;
      top: 20px;

      svg {
        pointer-events: none;
      }
    } 
  }
}
 
@include shop-breakpoint("xl") {

  .cateBox {
    position: relative;
    width: 100%;
    height: max-content;
    transition: .3s;
    height: 0;
    overflow: hidden;
    background-color: transparent;

    .button {
      width: 100%;
      margin: 10px 0 0 0;
      height: 24px;
      padding: 2px 0 0 3px;
      border-color: $color-black;
      color: $color-black;

      p {
        font-size: .75rem;
        font-family: $font-primary !important;
      }

      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }

  .cateBoxOpen {
    background-color: rgba($color: #fff, $alpha: .0);
    backdrop-filter: blur(0); 
    height: 90px; 

    .closeIcon {  
      display: none;
    } 
  }

  .category {
    position: fixed;
  }
}