@import "styles/app.scss";

.container { 
  display: flex; 
  flex-direction: column;
  width: 100%;
  align-items: center; 
  justify-content: center;  
  position: relative; 
  background-color: black;
  
  .background {
    opacity: .3;
    height: 100%;
    position: absolute;
  }
} 