@import "styles/app.scss";

.language {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: $color-black;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;

  & p {

    &:nth-child(2) { 
      margin: 0 3px; 
    }
  }

  .languageText {
    cursor: pointer;
    transition: .3s;

    &:active {
      transform: scale(.95);
    }
  }
}

.languageWhite { 
  color: $color-white;  
}