@import "styles/app.scss";

.cartButton { 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px $color-black solid; 
  position: fixed;
  width: 155px;
  bottom: 20px; 
  border-radius: 12px;
  height: 24px;  
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;  
  transition: .5s;
  z-index: 3;

  @include shop-breakpoint("lg") {
    bottom: -50px
  }

  @include shop-breakpoint("md") { 
    position: relative;
    width: calc(100% - 40px); 
    margin: 0 20px;
    height: 40px;
    bottom: 0; 
  }

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }

  &:active {
    transform: scale(.95);
  }

  .smallText {
    pointer-events: none;
    user-select: none;
  }
}

.alwayAppearCart {
  bottom: 20px; 
}

.openCart {
  bottom: 470px; 

  @include shop-breakpoint("lg") {
    bottom: 425px;
  }

  @include shop-breakpoint("md") {
    position: fixed; 
    bottom: 425px; 
    width: 155px; 
    height: 24px;  
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;  
  }
}

.appearCart {
  bottom: 20px;
}