@import "styles/app.scss";

.container {
  background-image: url("../../../../public/images/product_bg.png");
  background-position: top center;
  background-size: cover;   

  .products {
    margin: 147px 0;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 

    @include shop-breakpoint("sm") {
      margin-top: calc((100vh - 350px)/2); // 411px is product item's height
    }
  }
} 