@import "styles/app.scss";

.message {
  width: 100%;
  white-space: pre-wrap;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: $font-primary;

  @include font-sizing(12px, 400, 12px, 25);
}

.messageError {
  color: $color-primary;
}

@include home-breakpoint("xs") {

  .container {
    width: 100%;
    position: relative;
    padding: 0px 20px 100px 20px;
    display: flex;
    align-items: flex-end;
    background: black;
  }

  .background {
    opacity: .5;
    height: 100%;
    position: absolute;
  }

  .content {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $color-white;
    z-index: 10; 
  }

  .info {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: white;
    border-width: 1px 0;

    div { 
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;

      h2 {
        font-family: $font-secondary;
        font-weight: 900; // black
        font-size: .75rem;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        margin-top: 5px;
        font-family: $font-primary;
        font-size: .75rem;
        text-align: center;
      }

      &:last-child {
        border-style: solid;
        border-color: white;
        border-width: 0 0 0 1px;
      }
    }
  }

  .newsletter {
    padding: 15px 0;
    margin-bottom: 50px; 
    width: 100%;
  }

  .newsletter div { 
    width: 100%;
    
    h2 {
      font-family: $font-secondary;
      text-transform: uppercase;
      grid-area: title;
  
      @include font-sizing(.8rem, 900, .8rem, 25);
    }
  
    input {
      font-family: $font-primary;
      padding: 10px 5px;
      text-align: center;
      border: unset;
      border-radius: .75rem;
      grid-area: input;
      height: 40px;
      max-height: 40px;
      width: 100%;
      margin-top: 15px;
      outline: 0;
  
      @include font-sizing(.8rem, null, null, 10);
    }
  
    .button {
      width: 100%;
      padding: 12px 25px 10px 27px;
      border-radius: .75rem;
      grid-area: button;
      max-height: 40px;
      height: 40px;
      margin-top: 15px; 
    }
  }

}

@include home-breakpoint("sm") {

  .newsletter div { 
    display: flex;
    justify-content: space-between;
    align-items: center; 
  
    h2 {
      width: 30%;
    }

    input {
      width: 50%; 
      margin: 0;
      margin: 0 20px;
    }
  
    .button {
      width: 20%;
      margin: 0;
    } 
  }
}

@include home-breakpoint("lg") { 

  .message {
    text-align: left;
    margin-top: 10px;
  }

  .content {
    flex-direction: row-reverse;
    height: 64px;
  }

  .newsletter {
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
  }

  .newsletter div {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: space-between;

    h2 {
      font-size: 1.563rem;
      width: 100%;
    }

    input {
      margin: 0;
      max-height: 24px;
      height: 24px;
      flex: 1;
    }

    .button {
      max-height: 24px;
      height: 24px;
      width: 155px;
      margin-left: 20px;
    }

    p {
      font-size: .75rem;
    } 
  }

  .info {
    width: 50%;
    border: 0;
    flex-direction: row-reverse;

    div {
      justify-content: space-between;
      align-items: flex-start;
      border: 0 !important;
      padding: 0;
    }

    h2 {
      font-size: 1.563rem !important;
    }

    p {
      font-size: .938rem !important;
    } 
  }
}

@include home-breakpoint("xl") { 

  .content {  
    justify-content: space-between;
  }

  .newsletter {
    padding: 0;
    margin: 0;
    width: 30%;
  }

  .info {
    width: 40%;
  }
}