@import "styles/app.scss";

@include music-breakpoint("xxs") {  

  .musicSlider {
    z-index: 1;  
    width: 100%;
    overflow: hidden;  
  }   

  .musicSliderBox {
    display: flex;  
    justify-content: flex-start;
    align-items: center; 
    width: 100vw;
    transition: .5s;  
  }

  .songCard,
  .songCardActive,
  .songCardSmaller,
  .songCardSmallest { 
    height: max-content;   
    position: relative; 
    padding: 0px;
    margin: 0 20px;
    min-width: 60%;
    max-width: 60%;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;  

    .songCardBox {
      border-radius: 30px; 
      width: 100%;
      max-width: 320px;
      display: flex;
      flex-direction: column; 
      padding: 18px 15px 30px 15px;
      transition: .5s;
    }

    .img {
      min-width: 100%;
      max-width: 100%;
      transition: .5s;
      cursor: pointer; 
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      position: relative;
      padding-top: 100%;

      .nextImg {
        border-radius: 5px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }

    .songInfo {
      margin-top: 27px;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      color: $color-white; 
      height: max-content;

      div {
        width: calc(100% - 100px);
      }

      h4 {
        text-transform: uppercase;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @include font-sizing(.75rem, null, 20px, 20);
      }

      .smallText {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    } 
  } 

  .songCardActive {  

    .songCardBox {
      border-radius: 30px; 
      border: 2px rgba($color: #fff, $alpha: .2) solid; 
      box-shadow: 0 0 10px rgba($color: #fff, $alpha: .2);

      &:hover { 
        border: 2px rgba($color: #fff, $alpha: .2) solid; 
        box-shadow: 0 0 10px rgba($color: #fff, $alpha: .2);
      }
    }

    .songInfo { 
      opacity: 1; 
      visibility: visible;
    }
  }

  .bigText {
    font-family: $font-secondary !important;
    font-weight: 300;
  }
}

@include music-breakpoint("sm") {  

  .songCard,
  .songCardActive,
  .songCardSmaller,
  .songCardSmallest { 
    margin: 0 20px;
    min-width: 320px;
    max-width: 320px;
    height: 404px; 

    .songCardBox { 
      padding: 23px 20px 30px 20px; 
    }

    .img {
      width: 280px;
    }
  }
}

@include music-breakpoint("md") {  

  .songCardBox {   
    padding: 25px 20px 40px 20px;
    border: 2px rgba($color: #fff, $alpha: .2) solid; 
    box-shadow: 0 0 10px rgba($color: #fff, $alpha: .2);
  }

  .songCard {  
    margin: 0 90px;   
  }   
}

@include music-breakpoint("lg") { 

  .songCard { 
    min-width: 220px;
    max-width: 220px;
    height: 516px;
    padding: 0px; 
    margin: 0 40px; 

    .songCardBox { 
      padding: 0;
      max-width: 420px;
      width: 220px;
      height: 220px; 
      display: flex;
      flex-direction: column; 
      border: 2px rgba($color: #fff, $alpha: 0) solid; 
      box-shadow: 0 0 10px rgba($color: #fff, $alpha: 0);

      .img {
        min-width: 220px;
        max-height: 220px;
        min-height: 220px;
        border-radius: 5px;
        transition: .3s;
        cursor: pointer;
      }
    }

    .songInfo { 
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      color: $color-white; 
      opacity: 0; 
      visibility: hidden;
    }
  } 

  .songInfo { 

    h4,
    .smallText {
      font-size: .938rem !important;
    }

    .bigText {
      font-size: 2.5rem !important;
    }
  } 

  .songCardActive {  
    min-width: 420px;  
    padding: 20px;

    .songCardBox {
      width: 380px; 
      height: 473px; 
      padding: 23px 20px 35px 20px;
      border: 2px rgba($color: #fff, $alpha: 0) solid; 
      box-shadow: 0 0 10px rgba($color: #fff, $alpha: 0);

      .img {
        transition: .3s;
        width: 380px;
        height: 380px;
        max-height: 380px; 
      }
    }

    .songInfo {  
      margin-top: 30px;
      opacity: 1; 
      visibility: visible;
    }

  } 

  .songCardSmaller {
    min-width: 120px;  
    max-width: 120px;
    padding: 0;

    .songCardBox { 
      width: 100%;
      height: 120px; 
      border: 0;
      border: 2px rgba($color: #fff, $alpha: 0) solid; 
      box-shadow: 0 0 10px rgba($color: #fff, $alpha: 0);
      
      .img { 
        height: 120px; 
        min-width: 120px;  
        max-width: 120px;
        min-height: 120px;
      }
    }
  }

  .songCardSmallest {
    min-width: 65px;  
    max-width: 65px;  

    .songCardBox { 
      width: 100%;
      height: 65px; 
      border: 0;
      border: 2px rgba($color: #fff, $alpha: 0) solid; 
      box-shadow: 0 0 10px rgba($color: #fff, $alpha: 0);
      
      .img { 
        min-width: 65px;  
        max-width: 65px;  
        height: 65px; 
        min-height: 65px;
      }
    }
  }
}

@include music-breakpoint("xl") {  

  .songCard { 
    min-width: 220px;
    max-width: 220px;
    height: 516px;
    padding: 0px; 
    margin: 0 40px; 
    display: flex;
    justify-content: center;
    align-items: center; 

    .songCardBox {
      padding: 0;
    }

    .songInfo { 
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      color: $color-white; 
      opacity: 0; 
      visibility: hidden;
    }
  } 

  .songCardActive {  
    min-width: 440px;  

    .songCardBox {
      width: 420px; 
      height: 516px; 
      padding: 25px 20px 40px 20px;

      .img {
        transition: .3s;
        width: 380px;
        height: 380px;
        max-height: 380px; 
      }
    }

    .songInfo {  
      margin-top: 30px;
      opacity: 1; 
      visibility: visible;
    }

  } 

  .songCardSmaller {
    min-width: 120px;  
    max-width: 120px;

    .songCardBox { 
      width: 100%;
      height: 120px; 
      
      .img { 
        width: 100%;
        height: 100%; 
      }
    }
  }

  .songCardSmallest {
    min-width: 65px;  
    max-width: 65px;  

    .songCardBox { 
      width: 100%;
      height: 65px; 

      .img { 
        width: 100%;
        height: 100%; 
      }
    }
  }
}