@import "../abstracts/variables";

html { 
  box-sizing: border-box;
  font-size: 100%; 
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  animation: fadein 1.5s;
  background-color: rgba(0, 0, 0, .6);
}

body {
  // optimize font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: $font-primary;
  font-size: $font-base-size;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} 

// Avoid link underline
a {
  text-decoration: none; 
}

// Short text with triple dots "."
p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Title declaration
// 100px
h1 {
  font-family: $font-secondary;
  font-size: 6.25rem;
}
// 40px
h2 {
  font-family: $font-secondary;
  font-size: 2.5rem;
}
// 25px
h3 {
  font-family: $font-secondary;
  font-size: 1.563rem;
}
// 15px
h4 {
  font-family: $font-secondary;
  font-size: .938rem;
}

// Reset button styling
%button,
input[type="button"] {
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: default;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
  @extend %button;
}

// Remove default fieldset styles
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Allow only vertical resize of textareas
textarea {
  resize: vertical;
}

// Remove gap beneath elements
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

// A better looking default horizontal rule
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

// Reset figure spacing
figure {
  margin: 0;
}