// 12px
.smallText {
  font-size: .75rem;
  font-family: $font-primary !important;
}

// 15px
.text {
  font-size: $font-base-size;
  font-family: $font-primary !important;
}

// 25px
.bigText {
  font-size: 1.563rem;
  font-family: $font-primary !important;
}
