// 12pt
.smallText {
  font-size: 1rem;
  font-family: $font-primary !important;
}

// 15pt
.text {
  font-size: $font-base-size;
  font-family: $font-primary !important;
}

// 25pt
.bigText {
  font-size: 2.083rem;
  font-family: $font-primary !important;
}
