@import "styles/app.scss";

@include music-breakpoint("xxs") {  

  .musicSlider {
    z-index: 1;  
    width: 100%;
    overflow: hidden;   
  }   

  .musicSliderBox {
    display: flex;  
    justify-content: flex-start;
    align-items: center; 
    width: 100vw;
    transition: .5s;  
  }

  .songCard,
  .songCardActive,
  .songCardSmaller,
  .songCardSmallest { 
    position: relative; 
    margin: 0 20px;
    min-width: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;  

    .songCardBox {
      width: 100%;
      max-width: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; 
      transition: .5s;
    }

    .img {
      transition: .5s;
      min-width: 100%;
      max-width: 100%;
      cursor: pointer;  
      position: relative;
      padding-top: 150%;

      .nextImg {
        border-radius: 5px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }
  } 
}

@include music-breakpoint("sm") { 

  .musicSlider { 
    min-width: 100vw;
    max-width: 100vw; 
  }  

  .songCard { 
    min-width: 220px;
    max-width: 220px;
    margin: 0 40px; 
    filter: blur(5px);  

    .songCardBox { 
      max-width: 420px;
      width: 220px;

      .img {
        width: 220px; 
      }
    }
  } 

  .songCardActive {  
    filter: blur(0px);  
    min-width: 420px;  

    .songCardBox {
      width: 350px;
    }
  } 

  .songCardSmaller {
    filter: blur(10px);  

    .songCardBox {
      width: 120px;  
    }
  }

  .songCardSmallest {
    filter: blur(15px);  

    .songCardBox {
      width: 65px;  
    }
  }
}

@include music-breakpoint("md") {  

  .songCard {  
    margin: 0 60px;   
  }   
}