@import "styles/app.scss";

.itemDetail {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  margin-bottom: 50px;

  @include shop-breakpoint("lg") { 
    flex-direction: row;
    width: 611px;
    height: 326px;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 0;
  }

  @include shop-breakpoint("xl") { 
    flex-direction: row;
    width: 736px;
    height: 377px;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 0;
  }
}

.left { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 100%;  

  @include shop-breakpoint("lg") {
    margin: 0;
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .itemImage {
    cursor: pointer; 
    width: 100%;
    height: 100vw;
    margin-bottom: 10px;
    margin-top: calc(((100vh - 280px) / 2) - 70px);

    @include shop-breakpoint("sm") {    
      width: 280px;
      height: 280px;
    } 

    @include shop-breakpoint("lg") {
      margin: 0;
    }

    @include shop-breakpoint("xl") {
      width: 327px;
      height: 327px;
    }
  }
}

.smallImages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .smallImageItem {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }
}

.right {  
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap; 
  align-items: center; 
  padding: 20px;
  justify-content: flex-end; 

  @include shop-breakpoint("lg") { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 0; 
    align-items: flex-start;
    justify-content: space-between;
  }

  @include shop-breakpoint("xl") { 
    width: 329px;
    height: 327px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; 
  }
  
  .titleBox {
    width: calc(100% - 70px);
    order: 1;
    height: 60px; 
    margin-bottom: 10px;

    @include shop-breakpoint("lg") {  
      font-size: 1.563rem;
      width: 100%;
      height: max-content;
      margin: 0;
    }
  }

  .priceBox {
    width: 70px;
    order: 2; 
    height: 60px; 
    margin-bottom: 10px;

    @include shop-breakpoint("lg") {  
      font-size: 1.563rem;
      width: 100%;
      height: max-content;
      margin: 0;
    }
  }

  .descBox { 
    order: 3;
    width: calc(100% - 70px);
    height: 40px;

    @include shop-breakpoint("lg") {  
      // font-size: 1.563rem;
      width: 100%;
      order: 2;
      margin-top: -20px;
    } 
  } 

  .taxText {
    height: auto;
    order: 4;
    width: 70px;
    height: 40px;

    @include shop-breakpoint("lg") { 
      width: 100%;
      order: 2;
      height: max-content;
      margin-top: -30px;
    } 
  }

  .sizeBox {
    border-bottom: 1px $color-black solid;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px 0;
    order: 5;

    @include shop-breakpoint("lg") { 
      margin: 0;
      padding: 0;
      border: 0;
    }
  }  

  .sizes {
    display: flex;
    margin-top: 6px; 
  }

  .sizeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px $color-black solid;
    min-width: 34px;
    border-radius: 12px;
    margin-right: 5px;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }
  }

  .addToCartBox {
    width: 171px; 
    height: 40px;
    order: 6;
    
    @include shop-breakpoint("xl") {
      width: 155px;
      height: 24px;
    }
  }
} 