@import "styles/app.scss";
 
@include shop-breakpoint("xs") {  

  .itemDetail {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    margin-bottom: 112px; 
    z-index: 10;
  }

  .left { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;  

    .itemImage {
      position: relative;
      cursor: pointer; 
      width: 100%;
      height: 100vw;
      margin-bottom: 10px;
      margin-top: calc(((100vh - 280px) / 2) - 100px);  
      pointer-events: none;
    }
  }

  .right {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; 
    padding: 20px;
    justify-content: flex-end; 
  }

  .titleBox {
    flex: 1;
    order: 1; 
    margin-bottom: 6px;
  }

  .priceBox {
    min-width: 40px;
    width: max-content;
    order: 2;  
    margin-bottom: 10px;

    .titleText {
      min-width: 52px;
      text-align: left;
      direction: rtl;
    }
  }

  .smallImages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .smallImageItem {
      position: relative;
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin: 0 5px;
    }
  }

  .descBox { 
    order: 3;
    width: calc(100% - 70px);
    height: 32px;
  } 

  .taxText {
    height: auto;
    order: 4;
    width: 70px;
    height: 16px;
    font-size: .75rem;
    text-align: right;
  }

  .sizeBox {
    border-bottom: 2px $color-black solid;
    width: 100%;
    margin: 46px 0 20px 0;
    order: 5;
    font-size: .75rem;
    min-height: 70px;
    position: relative;

    .titleTextSmall {
      font-size: .75rem;
    }

    .sizes {
      display: flex;
      margin-top: 12px; 
    }

    .sizeItem {
      border: 1px $color-black solid;
      max-width: 34px;
      max-height: 24px;
      border-radius: 12px;
      margin-right: 5px;
      cursor: pointer;
      padding: 5px 10px 4px 12px;
      text-transform: uppercase;

      &:last-child {
        margin: 0;
      }
    }

    .sizeItemActive {
      background-color: black;
      color: $color-white;
    }
  }  

  .error {
    color: red;
    position: absolute;
    bottom: -35px;
  }

  .addToCartBox {
    width: 171px; 
    height: 40px;
    order: 6;
    font-weight: bold;
    padding: 4px 0 0 3px;

    &:hover {
      font-weight: bold !important;
    }
  }
 
  .titleText {
    font-size: 1.25rem;
    text-transform: uppercase;
  } 

  .smallText {
    white-space: pre-wrap;
    overflow: 0;
  }
}

@include shop-breakpoint("sm") { 

  .left {

    .itemImage {  
      width: 280px;
      height: 280px;
    }
  }

  .sizeBox {
    min-height: 80px;
  }
}

@include shop-breakpoint("lg") {  

  .itemDetail {
    flex-direction: row;
    width: 611px;
    height: 326px;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 0;
  }

  .left {
    margin: 0;
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .itemImage {  
      margin: 0;
    }
  }

  .right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 0; 
    align-items: flex-start;
    justify-content: flex-start;

    .titleBox { 
      font-size: 1.563rem;
      width: 100%;
      height: 24px;
      margin-bottom: 7px; 
    }

    .descBox {  
      height: 32px;
      width: 100%;
      order: 2;
      margin-bottom: 52px;
    } 

    .smallText {
      @include font-sizing(.75rem, null, 16px, 10);
    }
  }

  .priceBox { 
    font-size: 1.563rem;
    width: 100%;
    height: max-content;
    margin: 0; 
  }

  .taxText {  
    width: 100%;
    order: 2;
    height: max-content;
    margin-top: 3px; 
    text-align: left;
  }

  .sizeBox { 
    margin-top: 35px;
    margin-bottom: 37px;
    padding: 0;
    border: 0; 
    height: 52px;
    min-height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }  

  .error { 
    bottom: -20px;
  }
}


@include shop-breakpoint("xl") { 

  .itemDetail {
    flex-direction: row;
    width: 736px;
    height: 377px;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 0;
  }

  .left {

    .itemImage {
      width: 327px;
      height: 327px;
    }
  }

  .right {
    width: 329px;
    height: 327px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;  

    .titleBox { 
      margin-bottom: 12px; 
    }

    h3 {
      font-size: 1.536rem;
    }

    .taxText,
    .titleTextSmall,
    .smallText {
      font-size: .938rem;
    }

    .addToCartBox { 
      width: 155px;
      height: 24px; 
    }
  }
}