@import "styles/app.scss";

.button { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  width: 155px;
  height: 24px;
  border: 1px $color-white solid;
  color: $color-white;
  cursor: pointer;
  transition: .3s;

  .label {
    height: max-content; 
  }

  &:hover {
    background-color: $color-white;
    color: $color-black;
    font-weight: 500;
  }

  &:active {
    transform: scale(.95);
  }
}

.redBg { 
  background-color: $color-primary;
  border: 1px $color-primary solid;
  color: $color-white;   
  font-weight: 500;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    font-weight: 500;
  }
}

.transparentBg { 
  background-color: transparent; 
  border: 1px $color-primary solid;
  color: $color-primary;   

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    font-weight: 500;
  }
}