@import "styles/app.scss";

.icon {  
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  width: 25px;
  height: 25px; 
  transition: .3s;
  z-index: 10;

  &:active {
    transform: scale(.95);
  }

  & path {
    fill: $color-black;
  }
} 

.iconWhite {

  & path {
    fill: $color-white;
  }
}