@import "styles/app.scss";

.itemDetail {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content; 
  z-index: 20;

  @include music-breakpoint("md") { 
    flex-direction: row;
    width: 736px;
    height: 327px;
    justify-content: space-between;
    align-items: flex-start;  
  } 
}

.left {  
  padding: 0 20px; 
  margin-bottom: 50px;
  width: 100%;  
  z-index: 1;

  @include music-breakpoint("sm") {  
    display: flex;
    justify-content: center; 
  }

  @include music-breakpoint("md") {  
    padding: 0;
    margin: 0;
    width: max-content;
  }

  .itemImage {
    width: 90%;
    height: 80vw; 
    margin-top: 60px;
    border-radius: 5px;  
    pointer-events: none;

    @include music-breakpoint("sm") { 
      margin-top: calc(25vw - 50px);
      width: 50%;
      height: 48vw;
      max-width: 100%;
      max-height: 100%;
    }

    @include music-breakpoint("md") { 
      margin: 0; 
      width: 327px;
      height: 327px; 
    } 
  }
} 

.right {  
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $color-white;

  @include music-breakpoint("sm") {     
    width: 50%;
    height: 50vw;
    max-width: 100%;
    max-height: 100%; 
  }

  @include music-breakpoint("md") { 
    margin: 0; 
    min-width: 327px;
    min-height: 327px; 
    padding: 0;
  } 
  
  .titleText {
    width: 100%;  
    text-transform: uppercase;
    margin-bottom: 6px;

    @include music-breakpoint("xs") {      
      font-size: 1.25rem;
    }

    @include music-breakpoint("sm") {   
      font-size: 1.563rem;
    }

    @include music-breakpoint("xl") {   
      font-size: 1.563rem;
      height: 30px;
      line-height: 30px;
    }
  }

  .album {
    width: 100%; 
    margin-bottom: 6px;
    font-size: .75rem;
    height: 19px;
    line-height: 19px;

    @include music-breakpoint("sm") {     
      font-size: .938rem;
    }

    @include music-breakpoint("md") {     
      font-size: .75rem;
    }

    @include music-breakpoint("lg") {     
      font-size: .938rem;
    }
  }

  .year {
    width: 100%; 
    margin-bottom: 30px;
    height: 19px;
    line-height: 19px;

    @include music-breakpoint("sm") {     
      font-size: .938rem;
    }

    @include music-breakpoint("md") {     
      font-size: .75rem;
    }

    @include music-breakpoint("lg") {     
      font-size: .938rem;
    }
  }

  .lyrics { 
    width: 100%;  
    font-size: .75rem;
    margin-top: 34px;
    margin-bottom: 17px;

    @include music-breakpoint("sm") {     
      font-size: .938rem;
      margin-top: 34px;
      margin-bottom: 17px;
    } 

    @include music-breakpoint("md") {  
      margin-top: 34px;
      margin-bottom: 17px;
      font-size: .75rem;
    } 

    @include music-breakpoint("lg") {     
      font-size: .938rem;
    }
  }

  .smallText {
    max-width: 100%; 
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: auto;

    @include music-breakpoint("sm") {     
      font-size: .938rem;
    }
    
    @include music-breakpoint("md") {     
      font-size: .75rem;
    }

    @include music-breakpoint("lg") {     
      font-size: .938rem;
    }
  } 

  .lyricsBoxNull,
  .lyricsBox {
    font-size: .75rem;
    max-width: 100%; 
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: auto;
    margin-bottom: 10px;
    height: 110px;
    overflow-y: scroll;

    @include music-breakpoint("md") {     
      padding-right: 20%;
    }

    p {
      white-space: pre-wrap;
      overflow: 0;
    } 
  }

  .lyricsBox::-webkit-scrollbar {
    width: 6px;
  }

  .lyricsBox::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .05);
    border-radius: 20px;
  }

  .lyricsBox::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 20px;
    height: 20px;
  } 

  .lyricsBoxNull::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }

  .lyricsBoxNull::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
  } 

  h4 {
    width: 100%;
  }

  .addToCartBox {
    width: 100%; 
    height: 40px;
    order: 6;
    padding: 4px 0 0 3px;
    margin-top: 28px;

    @include music-breakpoint("sm") {    
      width: 140px;
      height: 40px; 
      margin-top: 28px;
    }

    @include music-breakpoint("md") { 
      margin: 0;  
      margin-top: 36px;
    } 

    @include music-breakpoint("lg") { 
      width: 155px;
      height: 24px;
    } 
  }
} 