@import "styles/app.scss";

.background {
  top: 0; 
  left: 0;
  width: 100%; 
  overflow: hidden;  
  background-color: black;
  z-index: 0;
  pointer-events: none;

  img {
    min-height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    object-fit: cover;
    pointer-events: none
  }
} 