@import "styles/app.scss";

.item { 
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 95px;

  h4 {
    cursor: pointer;
    transition: .3s;
    font-size: .75rem;
    z-index: 10;
    text-transform: uppercase;

    @include shop-breakpoint("lg") {
      font-size: .938rem; 
    }

    &:active {
      transform: scale(.95);
    }
  }

  .text {
    font-size: .75rem;
    z-index: 10;

    @include shop-breakpoint("lg") {
      font-size: .938rem; 
    }
  }
}

.itemInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemImg {
  cursor: pointer;
  width: 100%;
  height: 100vw;
  margin-bottom: 40px;
  z-index: 10;

  @include shop-breakpoint("lg") {
    width: 500px !important;
    height: 500px !important;
  }

  @include shop-breakpoint("sm") {
    width: 350px;
    height: 350px;
  }
}