@mixin shop-breakpoint($shop-breakpoint) {
  @if map-has-key($shop-breakpoints, $shop-breakpoint) {
    @media (min-width: #{map-get($shop-breakpoints, $shop-breakpoint)}) {
      @content;
    }
  } 
  
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$shop-breakpoint}`";
  }
} 

@mixin music-breakpoint($music-breakpoint) {
  @if map-has-key($music-breakpoints, $music-breakpoint) {
    @media (min-width: #{map-get($music-breakpoints, $music-breakpoint)}) {
      @content;
    }
  } 
  
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$music-breakpoint}`";
  }
};

@mixin home-breakpoint($home-breakpoint) {
  @if map-has-key($home-breakpoints, $home-breakpoint) {
    @media (min-width: #{map-get($home-breakpoints, $home-breakpoint)}) {
      @content;
    }
  } 
  
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$home-breakpoint}`"
  }
};

@mixin home-breakpoint-mm($min, $max) {
  @if map-has-key($home-breakpoints, $min) and map-has-key($home-breakpoints, $max) {
    @media (min-width: #{map-get($home-breakpoints, $min)}) and
           (max-width: calc(#{map-get($home-breakpoints, $max)} - 1px)) {
      @content;
    }
  } 
  
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$home-breakpoint}`"
  }
};

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
};

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
};

/*
 * Font-sizing
 *
 * Pass null to arguments if don't want to set
 * Example: @include font-sizing(14px, 400, null, null)
 */
@mixin font-sizing($size, $weight, $height, $space) {
  font-size: #{$size};
  font-weight: #{$weight};
  line-height: #{$height};
  letter-spacing: #{$space};
}