@mixin shop-breakpoint($shop-breakpoint) {
  @if map-has-key($shop-breakpoints, $shop-breakpoint) {
    @media (min-width: #{map-get($shop-breakpoints, $shop-breakpoint)}) {
      @content;
    }
  } 
  
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$shop-breakpoint}`"
  }
}
