$color-primary: #FF3434;
$color-black: #050517;
$color-white: #fff;

$font-base-size: 1rem !default;
$font-primary: "Roboto";
$font-secondary: "Montserrat";

//Background opacity coverage
$opacity-background: .15;
//background color 
$background-color: #000;
