@import url("https://fonts.googleapis.com/css?family=Roboto"); 

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700;800;900&display=swap");

$color-primary: #FF3434;
$color-black: #050517;
$color-white: #fff;

// 15px
$font-base-size: .938rem !default;
$font-primary: Roboto;
$font-secondary: Montserrat;

// Background opacity coverage
$opacity-background: .15;

// background color 
$background-color: #000; 

// shop breakpoint
$shop-breakpoints: (
  xs: 0,
  sm: 413px,
  md: 600px,
  lg: 1023px,
  xl: 1919px,
); 

// music breakpoint
$music-breakpoints: (
  xxs: 0,
  xs: 413px,
  sm: 694px,
  md: 1023px,
  lg: 1366px,
  xl: 1919px,
); 

// home breakpoint
$home-breakpoints: (
  "xs": 0,
  "sm": 694px,
  "md": 1024px,
  "lg": 1366px,
  "xl": 1600px,
  "2xl": 1920px,
);
