@import "styles/app.scss";

.newsletter {
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  opacity: 0;
  z-index: -1;

  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(18px) brightness(100% - 14%);
}

.showNewsletter {
  @include animation('fadeInTop .3s');
  opacity: 1;
  z-index: 200;
}

.hideNewsletter {
  @include animation('fadeOutDown .3s');
  opacity: 0;
  z-index: -1;
}

.btnClose {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px; 
  transition: .3s;
  cursor: pointer;

  &:active {
    transform: scale(.95);
  }

  & path {
    fill: $color-white;
  }

  @include home-breakpoint('md') {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.content {
  display: grid;
  width: 100%;
  row-gap: 15px;
  padding: 65px 20px;
  grid-template-columns: 1fr;
  
  h2 {
    color: $color-white;
    font-family: $font-secondary;
    font-weight: 900; // black
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  input {
    font-family: $font-primary;
    font-size: 12px;
    line-height: 12px;
    padding: 10px 5px;
    text-align: center;
    border: none;
    border-radius: 12px;
  }

  button {
    width: auto;
    padding: 10px 40px;
    border-radius: 12px;
  }

  @include home-breakpoint('md') {
    width: 70%;
    align-items: center;
    column-gap: 30px;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 27px;

    h2 {
      font-weight: 800; // extra-bold
      font-size: 15px;
      line-height: 15px;
      text-align: right;
    }

    input {
      padding: 7px 5px;
    }
  
    button {
      padding: 7px 40px;
    }
  }

  @include home-breakpoint('lg') {
    margin-bottom: 0;
    row-gap: 10px;

    h2 {
      font-size: 25px;
      line-height: 25px;
    }
  }
}